<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kysely palvelu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css"rel="stylesheet"href="css/bootstrap.min.css"th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
	<h1>Kyselyt</h1>
    <table class="table table-stripped">
		<tr>
		    <th>Aihe</th>
		    <th>Kysymykset</th>
	    </tr>  
    	<tr th:each = "kysely : ${kysely}">
    	
    		<td th:text="${kysely.title}"></td>
    		<td th:text="${kysely.questions[0]}"></td>
		<td th:text="${kysely.questions[1]}"></td>
    		
    		<td><a th:href="@{/edit/{id}(id=${kysely.id})}" class="btn btn-warning">Muokkaa</a></td>   
			<td><a th:href="@{/delete/{id}(id=${kysely.id})}" class="btn btn-danger">Poista</a></td>   
		
    	</tr>
     </table>
	 <a href="/add" class="btn btn-success">Lisää</a>    	
</body>
</html>
